@font-face {
    font-family: 'BlissPro';
    src: local('fonts'),
    url('../../assets/fonts/BlissPro-Light.ttf') format('truetype'),
    url('../../assets/fonts/BlissPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro';
    src: local('BlissPro'),
    url('../../assets/fonts/BlissPro-Medium.ttf') format('truetype'),
    url('../../assets/fonts/BlissPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro';
    src: local('BlissPro'),
    url('../../assets/fonts/BlissPro-Heavy.ttf') format('truetype'),
    url('../../assets/fonts/BlissPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'BlissPro', sans-serif !important;
    font-weight: 500;
    color: #0A2F4C;
}

.col-xxl-9 {
    max-width: 918px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

h6, h5, h4, h3, h2, h1 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
}

.text-lg {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}

.position-relative {
    position: relative;
}

.h-fill {
    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}

.bg-warning {
    background: #E66520;
    margin-top: 60px;
    border-radius: 15px;
    padding: 22px 44px 30px 44px;
}

.txt-light {
    color: white;
}

.bold {
    font-weight: 900;
}

.md-txt {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

@media screen and (max-width: 1399px) {
    .text-lg {
        font-size: 46px;
        letter-spacing: 0.92px;
    }

    .bg-warning {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .text-lg {
        font-size: 22px;
        letter-spacing: 0;
    }

    .bg-warning {
        border-radius: 0;
        padding: 0 27px;
        margin-top: 40px;
    }

    .md-txt {
        font-size: 14px;
        letter-spacing: 0.32px;
    }
}
