.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
    background-color: white;
    font-family: 'BlissPro', sans-serif;
    font-size: 30px;
    color: #0A2F4C;
    font-weight: 300;
    padding: 180px 0;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    max-width: 617px;
    animation: zoomIn 0.3s ease-in-out;
}

.close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.bg-img {
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-radius {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../images/rectangle.svg") no-repeat left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.header-row {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 13px 0 rgba(196, 196, 196, 0.50);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    margin: 18px 64px 19px 0;
}

.header-title {
    font-size: 33px;
    font-weight: 300;
    letter-spacing: 0.66px;
}

.nowrap {
    white-space: nowrap;
}

.phone {
    font-size: 33px;
}

.phone a {
    color: #0A2F4C;
}


.tel {
    opacity: 1 !important;
    position: relative;
}

.tel:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0A2F4C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.tel:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo svg {
    width: 73px;
    height: 60px;
}

.tg-icon {
    margin: 0 30px;
}

.title {
    margin-top: 209px;
}

.info-content {
    margin-top: 60px;
}

.num {
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 1.4px;
}

.info {
    font-size: 24px;
    font-weight: 300;
}

.box {
    border-radius: 15px;
    border: 1px solid #E66520;
    background: white;
    width: 169px;
    height: 87px;
    padding: 15px;
    position: relative;
    margin-top: 20px;
}

.rate {
    position: absolute;
    bottom: 15px;
}

.rate__num {
    font-size: 17px;
    margin-right: 10px;
}

.store-1 {
    max-width: 103px;
}

.store-2 {
    max-width: 150px;
}

.green {
    color: #2AAC77;
    margin-right: 4px !important;
    margin-left: 4px !important;
}

.label {
    font-size: 30px;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.faded {
    opacity: .5;
}

input {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    padding-left: 13px;
    font-family: 'BlissPro', sans-serif;
}

input::placeholder {
    color: #ABA7A7;
}

button {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    background: #FFC500;
    text-align: center;
    height: 50px;
}

.btn-wt .__text, .btn-tg .__text {
    color: white;
    font-size: 14px;
    letter-spacing: 0.28px;
    margin-right: 12px;
}

.btn-wt, .btn-tg, .btn-mobile-rate {
    border-radius: 6px;
    height: 40px;
    margin-top: 20px;
}

.btn-wt {
    background-color: #25D366;
}

.btn-tg {
    background-color: #2AABEE;
}

.btn-mobile-rate {
    border: 1px solid #E66520;
    background: white;
}

.btn-mobile-rate .__text {
    font-size: 9px;
    margin-right: 5px;
    margin-left: 6px;
    font-family: Roboto, sans-serif;
    line-height: 38px;
}

.btn-mobile-rate .avito-mobile {
    line-height: 38px;
    display: flex;
    margin:  auto 0;
}

.btn-mobile-rate .domclick {
    max-width: 47px;
}

.btn-mobile-rate svg {
    line-height: 38px;
}

.avito-mobile {
    max-width: 44px;
    margin-right: 3px;
}

.btn-form {
    font-family: 'BlissPro', sans-serif;
    font-weight: 500;
    line-height: 95%;
    transition: background .3s;
}

.btn-form:hover {
    background: rgba(255, 197, 0, 0.7);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1399px) {
    .header-row {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 2px 2px 13px 0 rgba(68, 68, 68, 0.25);
    }

    .header-title {
        font-size: 20px;
        letter-spacing: 0.4px;
    }

    .phone {
        font-size: 20px;
    }

    .btn-form {
        margin-top: 15px !important;
    }

    .box {
        margin-top: 40px;
    }

    .title {
        margin-top: 142px;
    }
}

@media screen and (max-width: 1199px) {
    .header-row {
        box-shadow: 2px 2px 13px 0 rgba(196, 196, 196, 0.50);
    }

    .logo {
        margin: 15px 55px 15px 0;
    }

    .logo svg {
        width: 61px;
        height: 50px;
    }
}

@media screen and (max-width: 992px) {
    .bg-radius {
        opacity: 0.8;
    }

    .tg-icon {
        margin: 0 18px;
    }
}

@media screen and (max-width: 767px) {
    .header-row {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 2px 2px 13px 0 rgba(68, 68, 68, 0.25);
    }

    .logo {
        margin: 20px 0;
    }

    .logo svg {
        width: 81px;
        height: 67px;
    }

    .header-title {
        font-size: 14px;
        letter-spacing: 0.28px;
        padding: 0 0 5px 0;
    }

    .phone,
    .header-title {
        text-align: right;
        margin-right: 3px;
    }

    .title {
        margin-top: 149px;
    }

    .label {
        font-size: 16px;
        letter-spacing: 0.32px;
        margin: 15px 0 11px 0;
    }

    input {
        height: 40px;
        margin-top: 10px;
        border-radius: 6px;
    }

    .btn-form {
        margin-bottom: 30px;
        max-height: 40px !important;
        border-radius: 6px;
        font-size: 14px;
    }

    .modal-content {
        max-width: 450px;
        font-size: 22px;
        padding: 100px 0;
    }

    .close-button svg {
        width: 40px;
    }

}
